<h1>Welcome to the Cart Application</h1>
<div>
  <p>Available Services</p>
  <ul>
    <li>
      <a href="http://192.168.99.100/msportal/home/">Portal Home</a>
    </li>
    <li>
      <a href="http://192.168.99.100/msportal/products/">Product List</a>
    </li>
    <li>
      <a href="http://192.168.99.100/msportal/customerdb/">View CustomerDB Details</a>
    </li>
  </ul>
</div>
<div>
  <h2>Your Cart contains the following products: </h2>
  <ul>
    <li>Cable TV: 6 months subscription</li>
    <li>Internet: 12 months subscription</li>
    <li>Home Phone: 12 months subscription</li>
    <li>HBO: 18 months subscription</li>
    <li>Netflix: 12 months subscription</li>
  </ul>
</div>